<div class="container">
    <div class="row">
        <section class="col-3">
                <h5 class="text-warning ml-3">Sort</h5>
                <select class="custom-select"  (change)="onSortSelection($event.target.value)">
                    <option *ngFor="let item of sortOptions" [value]="item.value">{{item.name}}</option>
                </select>
                <br/>
                <br/>
                <h5 class="text-info ml-3">Brands</h5>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let brand of brands"
                        [class.active]="brand.id === this.shopParams.brandId"
                        [value] = "brand.id"
                        (click) = "onBrandSelection(brand.id)"
                    >
                        {{brand.name}}
                    </li>
                    
                </ul>
            <br/>
                <h5 class="text-info ml-3">Types</h5>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let type of types"
                    [class.active]="type.id === this.shopParams.typeId"
                    [value] = "type.id"
                    (click) = "onTypeSelection(type.id)"
                    >
                        {{type.name}}
                    </li>
                </ul>

        </section>


        <section class="col-9">
            <div class="flex justify-content-between align-items-center pb-2 row">
                <app-page-header [pageIndex]="shopParams.pageIndex" [pageSize]="shopParams.pageSize"
                [totalCount] ="totalRecordsCount"></app-page-header>
                <div class="form-inline mt-2">
                    <input class="form-control mr-2" style="width: 300px;" #search  placeholder="Search" type="text">
                    <button type="button" class="btn  btn-outline-primary my-2" (click)="onSearch()" >Search</button>
                    <button type="button" class="btn  btn-outline-success my-2 ml-2" (click)= "onReset()">Reset</button>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let product of products">
                    <app-product-item [product]= "product"></app-product-item>
                </div>
            </div>

            <div class="d-flex justify-content-center" >
                <app-pager [pageSize]= "shopParams.pageSize" [totalCount]= "totalRecordsCount"
                    (pageChanged) = "onPageChange($event)"
                ></app-pager>
            </div>
        </section>

        
    </div>
</div>